<!doctype html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!--get our main javascript file -->
<script src = "./static/main.js"></script>
<link rel="stylesheet" href="./static/style.css">

<title>ImageViewer</title>
</head>

<body>
<div class="container main_container">
<div class = "row">
{% if name %}
<h1><span id = "greeting">Hello</span> {{name}}...</h1>
{% else %}
<h1>Hello...</h1>
{% endif %}

</div>


<div class = "row">
  <div class = "col-md-8">
    <img class = "img-responsive img-thumbnail" id="slide" src="" alt="Slideshow Image" width="800"/>
  </div>
  <div class = "col-md-4">
    <div class = "panel panel-default">
    <div class = "panel-heading"><h3>Family Updates</h3></div>
    <div class = "panel-body update-panel">
      loremupselm
    </div>
  </div>
  </div>
</div>
</div>

</body>
